Checks: >
  -*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  misc-*,
  performance-*,
  portability-*,
  modernize-*,
  -cert-dcl50-cpp,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -misc-non-private-member-variables-in-classes,
  -misc-use-anonymous-namespace
  -performance-no-int-to-ptr,
  -peformance-noexcept-swap,
WarningsAsErrors: ''
FormatStyle: none
